[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
pillow = "*"
djangorestframework = "*"
django-rest-swagger = "*"
drf-spectacular = "*"
drf-yasg = "*"
django-rest-auth = "*"
django-allauth = "*"
django-cors-headers = "*"
easy-thumbnails = "*"
drf-flex-fields = "*"

[dev-packages]

[requires]
python_version = "3.7"
